html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:""""}
body{
	font-family:sans-serif;
	background:#222;
}
h1{
	color:#333;
	font-size:120px;
	font-weight:bold;
	text-align:center;
	margin: 30px 0 -28px 0;
}
h2{
	font-size:24px;
	font-weight:bold;
	margin:15px 0 10px;
	padding:5px 0;
	border-bottom:1px solid #DDD;
	clear:both;
}
h3{
	font-size:20px;
	font-weight:bold;
	margin:10px 0;
}
h4{
	font-size:16px;
	font-weight:bold;
	margin:10px 0;
}
a{
	color:#AAA;
	text-decoration:none;
}
a:hover{
	color:#CC0;
}
ul li{
	padding:2px 0;
}
ul li span{
	padding:0 10px;
}
label{
	width:210px;
	float:left;
	text-align:right;
	padding-right:10px;
}
table{
	width:100%;
	border-collapse:separate;
}
table th{
	font-weight:bold;
	font-size:16px;
}
table th.skinny{
	width:1px;`
}
table th.medium{
	width:15%;
}
table th.wide{
	width:80%;
}
table th, table td{
	padding:3px 6px;
	border-bottom:1px solid #DDD;
	margin:2px;
}
table td{
	font-size:10px;
}
pre{
	padding:5px;
	background:#EEE;
	font-size:10px;
}
em{
	font-style:italic;
}
#container{
	margin:0 auto;
	width:700px;
}
#tabs{
	list-style:none;
	background:#333;
	padding:5px 0;
}
#tabs li{
	display:inline;
}
#tabs li a{
	padding:3px 8px;
	background:#555;
}
#tabs li a.active{
	background:#FFD;
	color:#990;
}
#tabs #logout{
	background:none;
	font-size:8px;
}
#body{
	background:#FFD;
	padding:20px;
}
#body a{
	color:#06F;
}
#body a:hover{
	color:#F60;
}
#subtitle{
	color:#444;
	text-align:center;
	font-size:10px;
	margin:0;
	padding:0;
	border:none;
	word-spacing:3px;
}
#footer{
	background:#333;
	padding:5px;
	font-size:10px;
	text-align:center;
}
#msgs{
	margin-bottom:20px;
}
.msg{
	padding:10px;
	border:1px solid #DDD;
	margin-bottom:3px;
	font-weight:bold;
}
.msg.success{
	border-color:#AFA;
	background:#DFD;
}
.msg.success a{
	color:#3A3;
}
.msg.error{
	border-color:#FAA;
	background:#FDD;
}
.msg.error a{
	color:#A33;
}
p.submit{
	margin:10px 0 0 220px;
}
p.submit input, p.center input{
	font-size:16px;
	padding:4px 10px;
}
p.center{
	text-align:center;
}
#goes-to{
	display:block;
	font-size:10px;
	color:#777;
}
#debug{
	color:#0F0;
	font-family:monospace;
	padding:10px;
	background:#000;
	line-height:18px;
}